<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Box Model</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Box Model with HTML & CSS</h1>
      <h4>
        <ul>
          <li>Every element in web designing is a <span style="color: rgb(103, 93, 250);">rectangular box</span></li>
          <li>CSS Box model contains <span style="color: rgb(103, 93, 250);">4 parts</span> which are (from out to in)</li>
            <ol type="a">
                <li>Padding</li>
                <li>Margin</li>
                <li>Border</li>
                <li>Content</li>
            </ol>
          <li>The <span style="color: rgb(103, 93, 250);">width & height</span> properties of CSS controls the content area of the box.</li>
        </ul>
      </h4>

      <img src="../assets/box_model.png" alt="Picture of box Model">
    </div>   

    <section>
        <h3>Padding & Margin => <span><a href="../activities/padding_margin.html">Activity</a></span></h3>
        <ul> 
            <li>Padding
                <ul>
                    <li>Inner-Spacing of an Element wrapping only the<span style="color: rgb(103, 93, 250);">content.</li>
                    <li>Crontrolled using <span style="color: rgb(103, 93, 250);">padding-*</span> properties</li>
                </ul>
            </li>
        </ul>

        <ul> 
            <li>Margin
                <ul>
                    <li>Outer-Spacing of an element wrapping <span style="color: rgb(103, 93, 250);">content + padding + border</span></li>
                    <li>Decides distance between the <span style="color: rgb(103, 93, 250);">current box & other box</span>.</li>
                    <li>Controlled using <span style="color: rgb(103, 93, 250);">margin-*</span> properties.</li>
                </ul>
            </li>
        </ul>
    </section>


    
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session05.html">Home,</a>
  
          <a href="#">1,</a>
          <a href="./units_in_css.html">2,</a>
          <a href="./rel_abs_units.html">3,</a>
          <a href="./intro_flexbox.html">4,</a>   
          
        </h2>
      </footer>
  </body>
</html>
