<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Introduction to FlexBox</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Introduction to FlexBox</h1>
      <h4>
        <ul>
          <li>Flexbox is used to <span style="color: rgb(218, 161, 3);">layout, align and distribute space</span> among items in a container.</li>
          <li>It is useful when the size of the container/item is <span style="color: rgb(218, 161, 3);">unknown & dynamic</span>.</li>
          <li>It is well suited for application components like inside the <span style="color: rgb(218, 161, 3);">navbar - forms - cards, etc</span>.</li>
          <li>Flexbox is made up of two main conponents.</li>
                <ul>
                    <li>Flexbox Parent (Container)</li>
                    <li>Flexbox Children (Item)</li>
                </ul>
           <li>Important terms to remember :</li>
                <ul>
                    <li>Main Axis => Default is Horizontal (We could change it)</li>
                    <li>Cross Axis => Default is Vertical (We could change it)</li>
                </ul>
        </ul>
      </h4>

      <img src="../assets/flex_item_axis.png" alt="Picture explaining Flexbox components" width="700" height="300">
    </div>   

    <section class="activity">
        <h2><a href="../activities/flex_intro.html">Flexbox Activity</a></h2>
    </section>
    
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session05.html">Home,</a>
  
          <a href="./box_model.html">1,</a>
          <a href="./units_in_css.html">2,</a>
          <a href="./rel_abs_units.html">3,</a>
          <a href="#">4,</a>   
          
        </h2>
      </footer>
  </body>
</html>
