<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Absolute & Relative Units</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../styles/abs_rel.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Absolute & Relative Units</h1>
      <h4>These are two types of Units:
        <ul>
            <li>Absolute - Ex.: px, </li>
            <li>Relative</li>
        </ul>
      </h4>

      <img src="../assets/abs_rel_css.png" alt="Absolute Vs Reltive Compatison Picture" width="600" height="400">
    </div>   

    <section class="activity">
        <h2><a href="../activities/abs_rel.html">Absolute</a></h2>
        <h2><a href="../activities/abs_rel.html">Relative</a></h2>

        <article>
            <img src="../assets/rel_unit_conparison.png" alt="Relative Units Comparison table">
        </article>
    </section>
    
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session05.html">Home,</a>
  
          <a href="./box_model.html">1,</a>
          <a href="./units_in_css.html">2,</a>
          <a href="#">3,</a>
          <a href="./intro_flexbox.html">4,</a>   
          
        </h2>
      </footer>
  </body>
</html>
