<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Length in CSS</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	  </header>

    <div>
      <h1>Length in CSS</h1>
      <h4>
        <ul>
          <li>CSS has several different units for Expressing length.</li>
          <li>Properties like <span style="color: rgb(218, 161, 3);">width, height, font-size, etc.</span>can use these values.</li>
          <li><span style="color: rgb(218, 161, 3);">Length</span> in CSS is defined by a number followed by a unit.</li>
        </ul>
      </h4>
    </div>   

    
    
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session05.html">Home,</a>
  
          <a href="./box_model.html">1,</a>
          <a href="#">2,</a>
          <a href="./rel_abs_units.html">3,</a>
          <a href="./intro_flexbox.html">4,</a>   
          
        </h2>
      </footer>
  </body>
</html>
