* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topic-heading {
    margin: 10px 0 0 10px;
}

.activity {
    margin-top: 2rem;
}

.single-card > img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 50%;

    padding: 1rem;
    margin: 8px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
}

.single-card {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin: 8px;

    width: 200px;
    height: 250px;

    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.single-card:hover {
    background-color: transparent;
    transform: scale(1.05);
    transition: 0.25s;

    border: 10px solid gray;
}

.player1 {
    background-color: lightgoldenrodyellow;
}
.player2 {
    background-color: lightskyblue;
}
.player3 {
    background-color: lightgoldenrodyellow;
}
.player4 {
    background-color: lightskyblue;
}

.personal-info > h3, .personal-info > h4 {
    margin: 5px 2px;
    padding-bottom: 25px;
    /* border: 1px solid black; */
}