<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
        <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
        <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
            <h1>Front End - 1</h1>
            <h4>Learnign HTML by Doing</h4>
        </div>
    </header>


    <div>
		<h2>Inline & Block Elements</h2>

        <img src="../assets/inlineBlock_elements.png" alt="">
	</div>
    
    <div>
        <h4>I'm an In-inline element</h4>
            <img src="../assets/img_tag_blank.png" alt="" width="100" height="100">
            <a href="#">In-line 1</a>
                <img src="../assets/img_tag_blank.png" alt="" width="100" height="100">
            <a href="#">In-line 2</a>
                <img src="../assets/img_tag_blank.png" alt="" width="100" height="100">
            <a href="#">In-line 3</a>
            <!-- <a href="#"><p>Hello</p></a> -->
        <h4>I'm block element</h4>
            <p>I'm Para 1</p>
            <p>I'm Para 2</p>
            <p>I'm Para 3</p>
    </div>

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session02.html">Home,</a>
  
          <a href="./Page1.html">1,</a>
				<a href="./page2.html">2,</a>
				<a href="./page3.html">3,</a>
				<a href="#">4</a>
				<a href="./Summary.html">Summary</a>
        </h2>
      </footer>
  </body>
</html>
