<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header style="display: flex; border: 1px solid black;">
            <a href="www.google.com" style="display: flex;">
                <img src="https://qus08.csb.app/Session_2/logo.svg" alt="" >
            </a>
			<div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
                <h1>Front End - 1</h1>
			    <h4>Learnign HTML by Doing</h4>
            </div>
		</header>

		<div class="html_images">
			<h2>Images in HTML</h2>

            <ul>
                <li><h4>Images can be displayed on a Webpage using the &lt;img&gt; tag</h4></li>
                <li><h4>The image tags need one important attribute to display the image 'src'</h4></li>
            </ul>
		</div>

        <hr>

        <h3>How to display images in our Webpages ? </h3>
        <img src="../assets/html_img_tag.png" alt="">

        <hr>

        <div>
            <h3>height & width attributes</h3>
            <h4>Simply Using img tag with src attribute</h4>
            <img src="../assets/img_tag_blank.png" alt="">
            
            <h4>Using 'height' & 'width' attributes => height="200" width="200"</h4>
            <img src="../assets/img_tag_blank.png" alt="" height="200" width="200">

            <h4>Using 'height' & 'width' attributes => height="100" width="100"</h4>
            <img src="../assets/img_tag_blank.png" alt="" height="100" width="100">
        </div>

         <div>
            <h3>What of the used Image is not available to display ?</h3>
            <h4>We can make use of 'alt' attribute in the &lt;img&gt; tag</h4>
            <img src="../assets/imgtag_blank.png" alt="Image not Availble">
            
            <h4>Using 'height' & 'width' attributes => height="200" width="200"</h4>
            <img src="../assets/imgtag_blank.png" alt="Image not Availble">

            <h4>Using 'height' & 'width' attributes => height="100" width="100"</h4>
            <img src="../assets/imgtag_blank.png" alt="Image not Availble">
        </div>

        <div>
            <h3>What are the Image Formats available ?</h3>
            <ul>
                <h4>
                    <li>While working with images, it's important to understand the different file types.</li>
                    <li>Knowing when to use what format will lead to better image quality and faster site loading</li>
                    <li>it's a good idea to learn about JPG, GIF, PNG, SVG and Vetor image formats.</li>
                </h4>
            </ul>

            <img src="../assets/img_formats.png" alt="Image Formats">
        </div>
   
		<footers style="position: fixed; bottom: 0;">
			<h2>
				Go To :
				<a href="../../../index.html">Index,</a>
                <a href="../Session02.html">Home,</a>

				<a href="./Page1.html">1,</a>
				<a href="./page2.html">2,</a>
				<a href="#">3,</a>
				<a href="./page4.html">4</a>
				<a href="./Summary.html">Summary</a>
			</h2>
		</footer>
	</body>
</html>
