<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header style="display: flex; border: 1px solid black;">
			<img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
			<div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
				<h1>Front End - 1</h1>
				<h4>Learnign HTML by Doing</h4>
			</div>
		</header>

		<h2>Type of Links</h2>
		<ul>
			<li><h4>Absolute Links</h4></li>
			<p>Absolute Links are Full Web Addesses or Full URLs</p>
			<li><h4>Relative Links</h4></li>
			<p>
				Relative Links are Referring to the Local Files of our Folder Structure
			</p>
		</ul>
		<hr />

		<h3>But Why we need Relative Links ?</h3>
		<ul>
			<li>
				<p>
					If one day Developers of the Referred Web Sites have decided to change
					the URLs
				</p>
			</li>
			<li>
				<p>Absolute Links stop Working...</p>
			</li>
		</ul>
		<hr />

		<div>
			<h3 id="a_id">id Attribute</h3>
			<h4>Why we should use id attribute</h4>
			<ul>
				<li>
					<p>
						What if We are going to Create a Long Web page with huge number of
						Topics ?
					</p>
				</li>
				<li>
					<p>
						While User vitis our Web Site, thay will get frustrated if they look
						for a Specific Topic.
					</p>
				</li>
			</ul>

			<img src="../assets/id_attribute.png" alt="about id Attribute" />
		</div>

		<h4 id="a_bookmarks">What is Link Bookmarks ?</h4>
		<ul>
			<li>Books marks can be useful to navigate within long pages</li>
			<li>
				We can create a Navigation Tab and Link them with Sections within a page
			</li>
			<li>
				Using id attribute of a particular section or Elements we can do this.
			</li>
		</ul>

		<h4>What is dead links ?</h4>
		<ul>
			<li>Dead Links are often needed, while the creating of a Website</li>
			<li>We could simply use '#' in the href attribute of Anchor tags</li>
			<li>We'll learning about this even more in FE-2</li>
		</ul>

		<footers style="position: fixed; bottom: 0;">
			<h2>
				Go To :
				<a href="../../../index.html">Index,</a>
				<a href="../Session02.html">Home,</a>

				<a href="./Page1.html">1,</a>
				<a href="#">2,</a>
				<a href="./page3.html">3,</a>
				<a href="./page4.html">4</a>
				<a href="./Summary.html">Summary</a>
			</h2>
		</footer>
	</body>
</html>
