<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>CSS Grids</title>
    <html  lang = 'en'>

    <!-- To enable @media rule -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- To use Bootstrap, we need charset Meta Tag -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
    </header>

    <div>
        <h4>CSS Grids</h4>
        <ul>
            <li>CSS Grid is a <b>Two dimensional grid-based layout system.</b></li>
            <li>It helps place the rectangular elements on a web page in <b>complex manners</b>.</li>
            <div>
                <h5 class="btn btn-primary" data-bs-toggle="collapse" role="button" href="#collapseTarget1">Elements of Grid System</h5>
                <div class="collapse" id="collapseTarget1">
                    <div class="card card-body">
                        <ol>
                            <li>Grid Container (Parent)</li>
                            <li>Grid Item (Children)</li>
                            <li>Grid Rows (Horizontal parts)</li>
                            <li>Grid Columns (Vertical parts)</li>
                            <li>Grid Lines - Which divide the rows and columns</li>
                            <li>Grid Cells - Spece between two adjacent rows & grid lines</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div>
                <h5 class="btn btn-primary" data-bs-toggle="collapse" role="button" href="#collapseTarget2">How Grid System Works ?</h5>
                <div class="collapse" id="collapseTarget2">
                    <div class="card card-body">
                        <ul>
                            <li>The <b>Grid Container (parent)</b> forms a wrapper element for all the <b>Grid Items (Children)</b> under it.</li>
                            <li><b>All direct descendant elements</b> of the Grid container are known as Grid Items.</li>
                            <li>We can define it with <b>"display: grid"</b> CSS Property </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <h5 class="btn btn-primary" data-bs-toggle="collapse" role="button" href="#collapseTarget3">Rows and Columns in Grid System</h5>
                <div class="collapse" id="collapseTarget3">
                    <div class="card card-body">
                        <ul>
                            <li>To make our linear grid two-dimensional, we need to define the <b>"number of rows & columns"</b></li>
                            <li>We can make use of, <b>"grid-template-*"</b> properties of the <b>grid container</b>.</li>
                            <li>For Ex.: Defining a <b>"grid of 3 Columns X 3 Rows"</b> on our page, we could declare as, </li>
                                <img src="../assets/grid_definition.png" alt="Picture for How to define Grid Definition">
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
    </div> 

   <h1>A</h1>
   <h1>A</h1>

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session06.html">Home,</a>
  
          <a href="./flexbox_items.html">1,</a>
          <a href="./positioning_flexbox.html">2,</a>
          <a href="./responsiveDesign_Intro.html">3,</a>
          <a href="./media_queries.html">4,</a>       
          <a href="./bootstrap_intro.html">5,</a>       
          <a href="./navbar_bootstrap.html">6,</a>       
          <a href="./take_home.html">7</a>       
          
        </h2>
      </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
