<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Byte - DevTool</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Byte - Chrome DevTools</h1>
      <h4>
        This Byte is about Chrome DevTools and Familiarize us with it.
        <ul>
          <li><span style="color: rgb(218, 161, 3);">Overview</span></li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 1 - </span>Setting up the live Server</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 2 - </span>Inspecting HTML DOM using DevTools</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 3 - </span>Checking CSS of an Element</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 4 - </span>Inspecting CSS box model with DevTools</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 5 - </span>Scanning the web page easily</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 6 - </span>DevTools makes it easier to prototype or debug websites with Flexbox</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 7 - </span>Excercise # 1</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 8 - </span>Excercise # 2</li>
          <li><span style="color: rgb(218, 161, 3);">Milestone 9 - </span>Byte Summary</li>
        </ul>
      </h4>
    </div>

    <section style="width: 80%; height: 700px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gTVpBbFWry8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>   

    

    
    
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session04.html">Home,</a>
  
          <a href="./selector_specificity.html">1,</a>
          <a href="./cascading_in_css.html">2,</a>
          <a href="./Inheritance_in_css.html">3,</a>
          <a href="./using_devTool.html">4,</a>
          <a href="./colors_in_css.html">5,</a>          
          <a href="./fonts_in_css.html">6,</a>          
          <a href="#">7,</a>          
          
        </h2>
      </footer>
  </body>
</html>
