<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Cascading in CSS</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Cascading in CSS</h1>
      <h4>
        <ul>
          <li>The process of combining several style sheets or several palce of declaration.</li>
          <li>We could resolve <b>conflicts</b> between them</li>
          <li>If there are <b>multiple selectors </b> with same origin & specificity then <span style="color: blue;">one that appears at the end wins.</span>.</li>
                <ol>
                    <li>Origin : Browser Default, External CSS, Internal CSS, In-line CSS</li>
                </ol>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Cascade">Read More...</a></li>
        </ul>
      </h4>
      <img src="../assets/css-cascade.png" alt="Picture explaining CSS Cascading" width="500" height="400">
    </div>
    

   
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session04.html">Home,</a>
  
          <a href="./selector_specificity.html">1,</a>
          <a href="#">2,</a>
          <a href="./Inheritance_in_css.html">3,</a>
          <a href="./using_devTool.html">4,</a>
          <a href="./colors_in_css.html">5,</a>          
          <a href="./fonts_in_css.html">6,</a>          
          <a href="./byte_Overview.html">7,</a>           
          
        </h2>
      </footer>
  </body>
</html>
