<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Fonts in CSS</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Using Fonts with CSS</h1>
      <h4>
        <ul>
          <li>Introducing Typography</li>
          <li>A <span style="color: blue;">typeface or font-families</span> is a collection of letters, numbers, symbols (also called as glyphs)</li>
          <li>Ex.: Serif, Sans-Serif, Times New Roman, Comic Sans, Arial, etc.</li>
          <li>Mostly used font-families are, serif & sans-serif</li>
          <li>Serif Fonts
            <ul>
                <li>Small stroke attached to the end of letters</li>
                <li>Mostly used in books and text</li>
            </ul>
          </li>

          <li>Sans-Serif are more smooth and look modern
            <ul>
                <li>Used in headings and app UIs</li>
            </ul>
          </li>

          <li>We can specify the font's Size, Weight and Style using <span style="color: rgb(4, 114, 13);">"font-*"</span> properties.</li>
          
          <!-- <img src="../assets/fonts_css.png" alt="fonr properties in CSS"> -->

          <!-- <li><a href="https://www.w3schools.com/css/css_colors.asp">Read more with W3School..</a></li> -->
        </ul>
      </h4>
    </div>

    <section class="tutorial">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/klXyJWlIzuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>



   
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session04.html">Home,</a>
  
          <a href="./selector_specificity.html">1,</a>
          <a href="./cascading_in_css.html">2,</a>
          <a href="./Inheritance_in_css.html">3,</a>
          <a href="./using_devTool.html">4,</a>
          <a href="./colors_in_css.html">5,</a>          
          <a href="#">6,</a>          
          <a href="./byte_Overview.html">7,</a>          
          
        </h2>
      </footer>
  </body>
</html>
