<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Inheritance in CSS</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Inheritance in CSS</h1>
      <h4>
        <ul>
          <li>Some properties are inherited down the HTML while others are not.</li>
          <li>Styles that are <b>inherited</b> are generally related to the <span style="color: blue;">styling of the document text.</span></li>
            <ul>
                <li>Ex.: Fonts & Colors</li>
            </ul>
          <li>Styles that are <b>not inherited</b> are generally related to the <span style="color: blue;">styling of the document text</span>.</li>
                <ol>
                    <li>Paramets for Positions : Sizes, Margins, Background & frames.</li>
                    <li>Ex.: width, height, border, padding, margin, position, etc.</li>
                </ol>
          <li><span style="color: rgb(255, 0, 0);">Don't confuse this with the fact that block elements take all the available width.</span></li>
          <li><a href="">Read More...</a></li>
        </ul>
      </h4>
      <img src="../assets/inheritance_css.jpg" alt="Inheritance in CSS" width="500" height="400">
    </div>
    

   
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session04.html">Home,</a>
  
          <a href="./selector_specificity.html">1,</a>
          <a href="./cascading_in_css.html">2,</a>
          <a href="#">3,</a>
          <a href="./using_devTool.html">4,</a>
          <a href="./colors_in_css.html">5,</a>          
          <a href="./fonts_in_css.html">6,</a>          
          <a href="./byte_Overview.html">7,</a>           
          
        </h2>
      </footer>
  </body>
</html>
