<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Chrome DevTool for CSS</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
	</header>

    <div>
      <h1>Using Chrome DevTool for CSS</h1>
      <h4>
        <ul>
          <li>Chrome DebTool helps us inspect and tinker with our HTML Elements</li>
          <li>Open Google Chrome & use <span style="color: blue;">ctrl + shift + I</span> to open Chrome DevTool</li>
            <ul>
                <li>Ex.: Fonts & Colors</li>
            </ul>
          <li>This provide us an <b>overview</b> of the <span style="color: blue;">HTML, CSS, Accessibilty, JS, Network, Memory, etc.</span>.</li>
          <li><a href="https://youtu.be/gTVpBbFWry8">Watch a Tutorial from freeCodeCamp.org</a></li>
        </ul>
      </h4>
    </div>

    <section style="width: 80%; height: 700px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gTVpBbFWry8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    

   
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session04.html">Home,</a>
  
          <a href="./selector_specificity.html">1,</a>
          <a href="./cascading_in_css.html">2,</a>
          <a href="./Inheritance_in_css.html">3,</a>
          <a href="#">4,</a>
          <a href="./colors_in_css.html">5,</a>          
          <a href="./fonts_in_css.html">6,</a>          
          <a href="./byte_Overview.html">7,</a> 

        </h2>
      </footer>
  </body>
</html>
