<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>

    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
		</header>

    <section>
      <h1>Byte Breakdown</h1>

      <h4>
        This Byte gets you familiar with the HTTP protocol
        <ul style="color: gray;">
          <li><span><b>Overview -</b></span> HTTP is the most popular application protocol on the internet.</li>
          <li><span><b>Milestone 1 -</b></span> HTTP request method/li>
          <li><span><b>Milestone 2 -</b></span> HTTP Status Codes</li>
          <li><span><b>Milestone 3 -</b></span> Setting up the workspace</li>
          <li><span><b>Milestone 4 -</b></span> Using cURL and Postman</li>
          <li><span><b>Milestone 5 -</b></span> Construct a simple HTTP request on TCP Protocol</li>
          <li><span><b>Milestone 6 -</b></span> Byte Summary</li>
        </ul>
      </h4>

      <!-- <img src="../assets/linking_cssFile.png" alt=""> -->
      <!-- <img src="../assets/modern_psuedo_selector.png" alt="" width="350" height="300"> -->
    </section>
    
     <div class="grid-div">
      <div class="child-div child1">1</div>
      <div class="child-div child2">2</div>
      <div class="child-div child3">3</div>
      <div class="child-div child4">4</div>
      <div class="child-div child5">5</div>
      <div class="child-div child6">6</div>
    </div>
    

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session03.html">Home,</a>
  
          <a href="./div_span_tags.html">1,</a>
          <a href="./symantic_tags.html">2,</a>
          <a href="./styling_in_HTML.html">3,</a>
          <a href="./intro_to_css.html">4</a>
          <a href="./css_selectors.html">5</a>
          <a href="./linking_css.html">6</a>
          <a href="#">7</a>
          
        </h2>
      </footer>
  </body>
</html>
