<!DOCTYPE html>
<html style="background-color: lightblue;">
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
		</header>

    <div style="background-color: lightyellow;">
      <h1 style="color: green;">CSS Selectors</h1>

      <h4>
        <ul style="color: gray;">
          <li><span style="color: blue;">Selectors</span> in CSS are used to find elements we want to Style</li>
          <li>These are multiple selectors which can be used to pick <span style="color: blue;">Specific or Multiple</span> elements</li>
          <li>Common Selectors,</li>
          <ol>
            <li>Universal Selector (*) - Selects <span style="color: blue;">Everything</span> in the HTML Document.</li>
            <li>Element Selector - Selects elements with <span style="color: blue;">same name</span></li>
            <li>Class Selectors (.) - Selects elements with <span style="color: blue;">Same Class</span> attribute value.</li>
            <li>ID Selectors (#) - Selects elements with <span style="color: blue;">particular ID</span></li>
          </ol>
          <li>CSS is written inside curly braces "{}" and in 'key: value' pairs & Ends with semi-colon</li>
          
        </ul>
      </h4>

      <img src="../assets/css_selectors.png" alt="">
    </div>
    
    <div style="background-color: lightyellow;">
      <h3>Activity : </h3>
      <ul>
        <li>Write a Simple HTML Doc with body & 3 p tags</li>
        <li>Add Orange color Background to body</li>
        <li>Add Green color to fonts in first & last 'p'</li>
        <li>Add white background-color in Second 'p' tag</li>
      </ul>
    </div>
    
    <div style="background-color: lightyellow;">
      <section style="background-color: orange;">
        <p style="color: green;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quam a cupiditate quo, dicta corrupti voluptas doloribus nisi, laboriosam facere possimus, reiciendis sint ipsam rerum nemo ipsa blanditiis distinctio vero.</p>

        <p style="background-color: white;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quam a cupiditate quo, dicta corrupti voluptas doloribus nisi, laboriosam facere possimus, reiciendis sint ipsam rerum nemo ipsa blanditiis distinctio vero.</p>

        <p style="color: green;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quam a cupiditate quo, dicta corrupti voluptas doloribus nisi, laboriosam facere possimus, reiciendis sint ipsam rerum nemo ipsa blanditiis distinctio vero.</p>        
      </section>
    </div>

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session03.html">Home,</a>
  
          <a href="./div_span_tags.html">1,</a>
          <a href="./symantic_tags.html">2,</a>
          <a href="./styling_in_HTML.html">3,</a>
          <a href="./intro_to_css.html">4,</a>
          <a href="#">5,</a>
          <a href="./psuedo_selectors.html">5a,</a>
          <a href="./linking_css.html">6,</a>
          <a href="./byte_overview.html">7</a>
          
        </h2>
      </footer>
  </body>
</html>
