<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
		</header>
    <h1>div & span tags</h1>
    
    <div>
      <h3><b>&lt;div&gt;</b> Tag</h3>
      <ul>
        <li>The <b>&lt;div&gt;</b> elements is often used as a container for other HTML elements.</li>
        <li>We can say for <b>"Grouping"</b></li>
        <li><b>&lt;div&gt;</b> have no require attributes</li>
        <li><b>&lt;div&gt;</b> tags are <b>"Block Elements"</b></li>
      </ul>
      <img src="../assets/div_code_demo.png" alt="Div tag Code Demo">
    </div>
    
    <hr>

    <div>
      <h3><b>&lt;span&gt;</b> Tag</h3>
      <ul>
        <li>The <b>&lt;span&gt;</b>elemts is used to mark-up a part of Text or a part of a document.</li>
        <li>We can say for <b>"Highlighting"</b></li>
        <li><b>&lt;span&gt;</b> have no require attributes</li>
        <li><b>&lt;div&gt;</b> tags are <b>"In-line Elements"</b></li>
      </ul>
      <img src="../assets/span_code_demo.png" alt="Span tag Code Demo">
    </div>
    
    

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session03.html">Home,</a>
  
          <a href="#">1,</a>
          <a href="./symantic_tags.html">2,</a>
          <a href="./styling_in_HTML.html">3,</a>
          <a href="./intro_to_css.html">4,</a>
          <a href="./css_selectors.html">5,</a>
          <a href="./psuedo_selectors.html">5a,</a>
          <a href="./linking_css.html">6,</a>
          <a href="./byte_overview.html">7</a>
          
        </h2>
      </footer>
  </body>
</html>
