<!DOCTYPE html>
<html style="background-color: lightblue;">
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
		</header>

    <div style="background-color: lightyellow;">
      <h1 style="color: green;">Introduction to CSS</h1>

      <h4>
        <ul style="color: gray;">
          <li>Stands for <span style="color: blue;">Cascading Style Sheets</span></li>
          <li>It is a Language to define styles like font, size, spacing, color, etc to HTML elements</li>
          <li>There are ways to specify styles,</li>
          <ol>
            <li>In-line - Using <span style="color: blue;">"Style"</span> attribute</li>
            <li>Internal - Unsing <span style="color: blue;">"Style"</span> tag.</li>
            <li>External - Specify styles in a separate <span style="color: blue;">".css"</span></li>
          </ol>
          <li>CSS is written inside curly braces "{}" and in 'key: value' pairs & Ends with semi-colon</li>
          
        </ul>
      </h4>

      <img src="../assets/css_styling_ways.png" alt="">
    </div>

    
    

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session03.html">Home,</a>
  
          <a href="./div_span_tags.html">1,</a>
          <a href="./symantic_tags.html">2,</a>
          <a href="./styling_in_HTML.html">3,</a>
          <a href="#">4,</a>
          <a href="./css_selectors.html">5,</a>
          <a href="./psuedo_selectors.html">5a,</a>
          <a href="./linking_css.html">6,</a>
          <a href="./byte_overview.html">7</a>
        </h2>
      </footer>
  </body>
</html>
