<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>FE_02 - Session 02</title>
    <html  lang = 'en'>
    <link rel="stylesheet" href="../css/linking_css.css">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
		</header>

    <div>
      <h1>Semantic Elements/Tags</h1>
      <h4>
        <ul>
          <li><b>&lt;div&gt; & &lt;span&gt;</b> are non-semantic elements.</li>
          <li>They do not describe anything about the content within them</li>
          <li>Semantic elements clearly descrie the content within them.</li>
          <li>These are "Block Elements"</li>
          <li><b>Ex.:</b> <b>&lt;section&gt;,</b> <b>&lt;heaader&gt;,</b> <b>&lt;footer&gt;</b>, <b>&lt;nav&gt;</b> & <b>&lt;article&gt;</b></li>
        </ul>
      </h4>
      <img src="../assets/semantic_grp.png" alt="">
    </div>

   
    
    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session03.html">Home,</a>
  
          <a href="./div_span_tags.html">1,</a>
          <a href="#">2,</a>
          <a href="./styling_in_HTML.html">3,</a>
          <a href="./intro_to_css.html">4,</a>
          <a href="./css_selectors.html">5,</a>
          <a href="./psuedo_selectors.html">5a,</a>
          <a href="./linking_css.html">6,</a>
          <a href="./byte_overview.html">7</a>
          
        </h2>
      </footer>
  </body>
</html>
