<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Adding Items in Flexbox</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
    </header>

    <div>
      <h1>Adding Items in Flexbox</h1>
      <h4>
        <ul>
          <li>To create a flexbox item, simply build a parent & child structure containers.</li>
          <li>Each block item inside the flex parent will now behave like a <span style="color: rgb(218, 161, 3);">flex item & follow the layout defined by the parent</span>.</li>
          
        </ul>
      </h4>

      <img src="../assets/flex_container.png" alt="Simple breakdown about Flex container" title="Simple breakdown about Flex container">
    </div>
    
    <section class="activity">
        <h3><a href="../activity/adding_item_flexbox.html">Flexbox Activity 1 - Flexbox Navbar</a></h3>
        <h3><a href="../activity/center_child.html">Flexbox Activity 2 - Center Child</a></h3>
        <h3><a href="../activity/flex_wrap.html">Flexbox Activity 3 - Flex Wrapping</a></h3>
        <h3><a href="../activity/flex_direction.html">Flexbox Activity 4 - Flex Direction</a></h3>
    </section>

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session06.html">Home,</a>
  
          <a href="./flexbox_items.html">1,</a>
          <a href="./positioning_flexbox.html">2,</a>
          <a href="./responsiveDesign_Intro.html">3,</a>
          <a href="./media_queries.html">4,</a>       
          <a href="./bootstrap_intro.html">5,</a>       
          <a href="./navbar_bootstrap.html">6</a>       
          
        </h2>
      </footer>
  </body>
</html>
