<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Responsive Design</title>
    <html  lang = 'en'>

    <!-- For Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
    </header>

    <section>
      <h2>CSS at (@) Rule</h2>
      <h4>
        <ul>
          <li>The at (@) rule is a statement, that provides CSS with Instructions</li>
          <li>Instructions to perform or how to behave.</li>
          <span style="color: rgb(218, 161, 3);">@[KEYWORD] (rule)</span>
          <li>There are many rules like <span style="color: rgb(218, 161, 3);">@import</span> - to import a file, <span style="color: rgb(218, 161, 3);">@font-face</span> - to define local/self-hosted fonts, <span style="color: rgb(218, 161, 3);">@keyframes</span> - for animation</li>             
      </h4>

      <img src="../assets/at_rule.png" alt="different at rules available">
    </section>

    <section>
      <h2>@media Rule</h2>
      <h4>
        <ul>
          <li>To define breakpoints, we are particularly interested in the @media rule in CSS</li>
          <li>@media allows us to define CSS to different media (i.e Screens, printers, etc)</li>
          <li>Syntax : </li>  
            <img src="../assets/media_syntax.png" alt="at media syntax">    
          <li>When designing for larger screens, we can define breakpoints as "media-features" for a particular screen stypes.</li>     
      </h4>
    </section>

    <section class="activity">
        <article>
          <h3>Activity 1 - <a href="../activity/media_1.html">Simple HTML screen with @media rule</h3></a>
        </article>
    </section>

    <h1>A </h1>
    <h1> A</h1>
   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session06.html">Home,</a>
  
          <a href="./flexbox_items.html">1,</a>
          <a href="./positioning_flexbox.html">2,</a>
          <a href="./responsiveDesign_Intro.html">3,</a>
          <a href="#">4,</a>       
          <a href="./bootstrap_intro.html">5,</a>       
          <a href="./navbar_bootstrap.html">6</a>       
          
        </h2>
      </footer>
  </body>
</html>
