<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Data goes here -->
    <title>Post Session Activities</title>
    <html  lang = 'en'>
  </head>

  <body>
    <header style="display: flex; border: 1px solid black;">
      <img src="https://qus08.csb.app/Session_2/logo.svg" alt="">
      <div style="border-left: 1px solid black; width: 100%; padding-left: 25px;">
          <h1>Front End - 1</h1>
          <h4>Learnign HTML by Doing</h4>
      </div>
    </header>

    <div>
      <h1>Post Session Activities</h1>
      <h4>
        <ul>
            <li><h3><a href="../activity/create_cards.html">Activity 1 - Creating Cards</a></h3></li>
            <li><h3><a href="../activity/byte_bootstrap.html">Activity 2 - Bootstrap Byte</a></h3></li>
            <!-- <h3><a href="../activity/flex_wrap.html">Flexbox Activity 3 - Flex Wrapping</a></h3> -->
            <!-- <h3><a href="../activity/flex_direction.html">Flexbox Activity 4 - Flex Direction</a></h3>           -->
        </ul>
      </h4>
    </div>
    

   

    <footers style="position: fixed; bottom: 0;">
        <h2>
          Go To :
          <a href="../../../index.html">Index,</a>
          <a href="../Session06.html">Home,</a>
  
          <a href="./flexbox_items.html">1,</a>
          <a href="./positioning_flexbox.html">2,</a>
          <a href="./responsiveDesign_Intro.html">3,</a>
          <a href="./media_queries.html">4,</a>       
          <a href="./bootstrap_intro.html">5,</a>       
          <a href="./navbar_bootstrap.html">6,</a>       
          <a href="./take_home.html">7</a>       
          
        </h2>
      </footer>
  </body>
</html>
